paho-mqtt==2.1.0
aiorwlock==1.5.0
tortoise-orm==0.25.1
bleak==1.0.1
langchain==0.3.26
langchain_community==0.3.27
langchain_openai==0.3.28
langchain_perplexity==0.1.1
fastapi==0.95.2
uvicorn==0.22.0
httpx==0.24.1
pydantic==1.10.12
pydantic-settings==0.3.0
pydantic-core==2.10.0
python-dotenv==1.0.0